<div>

    <div class="title">

        <div class="menu">
            <i routerLink="/" class="fa-solid fa-house"></i>
            <span>Characters</span>
        </div>

        <div class="info" *ngIf="!isPhone; else phone">
            <p>Selected Character:</p>

            <div class="selected">
                <div class="selected-info" *ngIf="selectedCharacter">
                    <h2>{{ selectedCharacter.name | uppercase }}</h2>
                    <div *ngIf="selectedCharacter.titles.length > 0">
                        <h3>Titles:</h3>
                        <p *ngFor="let title of selectedCharacter.titles | filterArray">{{ title }}</p>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #phone class="template">
            <details>
                <summary>Selected Character:</summary>
                
                <div class="selected-phone">
                    <div class="selected-info-phone" *ngIf="selectedCharacter">
                        <h2>{{ selectedCharacter.name | uppercase }}</h2>
                        <div *ngIf="selectedCharacter.titles.length > 0">
                            <h3>Titles:</h3>
                            <p *ngFor="let title of selectedCharacter.titles | filterArray">{{ title }}</p>
                        </div>
                    </div>
                </div>
            </details>
        </ng-template>

    </div>

    <div class="container">
        <app-character-card *ngFor="let character of characters" [character]="character" (sendCharacter)="receiveCharacter($event)"></app-character-card>
    </div>

</div>
