@import '../../../styles.scss';

div {
    background: linear-gradient(rgba(150, 150, 150, 0.9), rgba(50, 50, 50, 0.9)), url(../../../assets/characters.webp) no-repeat top / cover;
    background-attachment: fixed;
    
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    
    @include create-title();

    .container {
        padding: 40px 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 60px;
    }
}

@media only screen and (max-width: 600px) {
    div {
        flex-direction: column;
        
        @include create-title-phone();
    
        .container {
            padding: 0;
            width: 100%;
    
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;
        }  
    }
  }